.searchResults {
    background-color: rgba(65, 31, 129, 0.6);
    box-shadow: 2px 2px 7px 1px rgb(186, 8, 59);
    width: 45%;
    height: 50rem;
    padding: 0.9rem;
    overflow-y: scroll;
}

/* Media queries */
