.track {
    border-bottom: 1px solid rgb(161, 161, 161);
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.track h3 {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.track p {
    font-size: 0.82rem;
    font-weight: 300;
}

.track button {
    background: transparent;
    border: 0;
    color: antiquewhite;
    cursor: pointer;
}