html {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    color: antiquewhite;
}

body,
html,
#root {
    height: 100%;
    background-color: black;
}

header {
    background-color: rgb(34, 4, 90);
    height: 4rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.05em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: inherit;
}

.app {
    background-image: url(./background-pic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    font-weight: 400;
    padding: 0 15% 10% 15%;
}

.main-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-top: 4rem;
}

/* SearchResults and Playlist background styling */
.trackresults-container {
    background-color: rgba(65, 31, 129, 0.6);
    box-shadow: 2px 2px 7px 1px rgb(186, 8, 59);
    border-radius: 0.3rem;
    width: 42%;
    min-height: 30rem;
    max-height: 50rem;
    padding: 0.9rem;
    overflow-y: scroll;
}

/* Call to action (CTA) button */
.CTA {
    background-color: rgb(186, 8, 59);
    color: antiquewhite;
    font-size: 0.95rem;
    text-align: center;
    border: 0;
    cursor: pointer;
    width: 10.5rem;
    padding: 0.7rem 0;
    border-radius: 2rem;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    transition: background-color 0.3s;
}

.CTA:hover {
    background-color: rgb(130, 8, 59);
    color: #fff;
}

.CTA:active {
    padding: 0.6rem 0;
    margin: 0.1rem 0;
    width: 10.3rem;
    font-size: 0.93rem;
}


/* Media queris */
@media only screen and (max-width: 1250px) {
    .app {
        padding: 0 13% 10% 13%;
    }

    .trackresults-container {
        width: 45%;
    }
}

@media only screen and (max-width: 1050px) {
    .app {
        padding: 0 10% 10% 10%;
    }
}

@media only screen and (max-width: 900px) {
    .main-container {
       flex-direction: column;
       gap: 3rem;
       align-items: center;
    }

    .trackresults-container {
        width: 80%;
        height: 30rem;
    }
}

@media only screen and (max-width: 550px) {
    html {
        font-size: 0.95rem;
    }

    .trackresults-container {
        width: 100%;
    }
}

@media only screen and (max-width: 350px) {
    html {
        font-size: 0.85rem;
    }
}
